
$font-160px: 10em;
$font-48px: 3em;
$font-46px: 2.875em;
$font-44px: 2.750em;
$font-42px: 2.625em;
$font-40px: 2.500em;
$font-38px: 2.375em;
$font-36px: 2.250em;
$font-34px: 2.125em;
$font-32px: 2.000em;
$font-30px: 1.875em;
$font-28px: 1.750em;
$font-26px: 1.625em;
$font-24px: 1.500em;
$font-22px: 1.375em;
$font-20px: 1.250em;
$font-18px: 1.125em;
$font-16px: 1.000em;
$font-14px: 0.875em;
$font-13px: 0.75em;
$font-12px: 0.650em;
$font-10px: 0.525em;
$font-8px: 0.425em;
$font-6px: 0.325em;

$base-font-size: $font-16px;