@import "font-sizes";

$button-s: 120px;
$button-m: 160px;
$button-l: 200px;
$button-xl: 240px;

$border-s: 4px;
$border-m: 8px;
$border-l: 16px;
$border-xl: 32px;

$input-s: 160px;
$input-m: 200px;
$input-l: 240px;
$input-xl: 320px;

$label-s: 32px;
$label-m: 64px;
$label-l: 148px;
$label-xl: 256px;

$spaces-xs: 4px;
$spaces-s: 8px;
$spaces-m: 16px;
$spaces-l: 24px;
$spaces-xl: 32px;
$spaces-2xl: 64px;

$column-s: 96px;
$column-m: 192px;
$column-l: 288px;
$column-xl: 368px;
$column-2xl: 480px;
$column-3xl: 576px;
$column-4xl: 672px;
$column-5xl: 768px;

$index-s: 10;
$index-m: 100;
$index-l: 1000;
$index-xl: 10000;
