@import "~@pinua/themes/variables";

.itemWrapper {
  background: #F4F5F7;
  max-width: $column-8xl;
  width: 100%;
  margin: 16px;
  padding: 64px 144px 44px;
  border-radius: 8px;
}
.footerLinks {
    color: $b-color-txt1;
    text-decoration: none;
    cursor: pointer;
    font-size: $font-13px;
    font-weight: 500;    
}
.footerLinksWrapper a {
    width: 33.33%;
}
.copyright {
    font-size: $font-13px;
    color: $b-color-txt1;
    font-weight: 300; 
}