.title {
  top: 344px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
  color: #000;
}

.titleCounter {
  margin-top: 5px;
  padding-left: 5px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #8c8c8c;
}
