@import "~@pinua/themes/variables";

* {
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  min-height: 70vh;
  max-width: 320px;
  padding: 65px $spaces-m 0 $spaces-m;
  box-sizing: border-box;
}

.title {
  max-width: 320px;
}
