.title {
  width: 100%;
  height: 74px;
  cursor: pointer;
}

.imageWrapper,
.infoWrapper,
.arrow {
  height: 100%;
}

.imageWrapper {
  width: 10%;
  min-width: 84px;
}

.image {
  width: 72px;
}

.infoWrapper {
  width: 85%;
}

.arrow {
  width: 5%;
}
