.site-layout-content {
  //background: #fff;
  padding: 24px;
  min-height: 280px;
}
// #components-layout-demo-top .logo {
//   width: 120px;
//   height: 31px;
//   //background: rgba(255, 255, 255, 0.2);
//   margin: 16px 24px 16px 0;
//   float: left;
// }
.logo {
  width: 150px;
  background: url(../Img/logo.svg);
  background-repeat: no-repeat;
}

.custom-header {
  display: flex;
  justify-content: space-between;
  background: #fff !important;
}

// .menu-item {
//   position: static;
//   width: 900px;
//   height: 22px;
//   left: 22px;
//   top: 5px;
//   font-family: e-Ukraine;
//   font-style: normal;
//   font-weight: 300;
//   font-size: 14px;
//   line-height: 22px;
// }
