
$b-color-ui1: #fff;
$b-color-ui2: #f4f5f7;
$b-color-ui3: #aaaaaa;
$b-color-ui4: #222222;
$b-color-ui5: #3e3e3e;
$b-color-ui6: #000000;
$b-color-ui7: #d9d9d9;
$b-color-ui8: #f3f3f3;

$b-color-txt1: #000;
$b-color-txt2: #007eff;
$b-color-txt3: #8c8c8c;
$b-color-txt4: #ff3800;
$b-color-txt5: #fff;

$b-color-btn1: #f4f5f7;
$b-color-btn2: #E6F7FF;
$b-color-btn3: #007EFF;
$b-color-btn4: #FFF2E8;
$b-color-btn5: #ff3800;

$b-color-opacity-1: rgba(0, 0, 0, 0.5);
$b-color-opacity-2: rgba(255, 255, 255, .3)