
$b-color-ui1: #fff;
$b-color-ui2: #f2f2f2;
$b-color-ui3: #aaaaaa;
$b-color-ui4: #222222;
$b-color-ui5: #3e3e3e;
$b-color-ui6: #000000;

$b-color-txt1: #fff;
$b-color-txt2: #000000;
$b-color-txt3: #aaabac;
$b-color-txt4: #25f1b0;

$b-color-btn1: #25f1b0;
$b-color-btn2: #1f253d;
$b-color-btn3: #ce0707;
$b-color-btn4: #000000;

$b-color-opacity-1: rgba(0, 0, 0, 0.5);
$b-color-opacity-2: rgba(255, 255, 255, .3)