@import "~@pinua/themes/variables";

.contacts {

}

.position {
  max-width: 150px;
}

.phone {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;

  &.closed {
    font-weight: 300;
    border-bottom: 1px dashed $b-color-txt2;
  }

  &.closed:hover {
    border-bottom-color: transparent;
  }
}

.icon {
  color: $b-color-txt3;
  margin-right: $spaces-s;
}
