.link {
  color: var(--b-color-txt1);
  font-size: var(--f16px);
  margin: var(--spaces-m) 0;

  &:hover {
    color: var(--b-color-txt4);
  }
}

.title {
  border-bottom: 1px solid var(--b-color-txt1);
  margin-bottom: var(--spaces-m);
}

.active {
  color: var(--b-color-txt4);
}

.close {
  cursor: pointer;
}

.icon {
  color: var(--b-color-txt1);
  font-size: var(--f28px);
  transition: all 300ms;

  &:hover {
    transform: rotate(180deg);
  }
}
